
/* Navbar chính */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: white;
    border-bottom: 1px solid #eee;
    width: 1900px;
  }
  
  .logo img {
    height: 50px;
  }
  
  /* Menu */
  .menu {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #777;
  }
  
  /* Dropdown */
  .dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    border: 1px solid #ddd;
    display: none;
  }
  
  .dropdown li {
    padding: 8px 15px;
  }
  
  .dropdown li a {
    color: black;
    font-weight: normal;
  }
  
  .menu li:hover .dropdown {
    display: block;
  }
  
  /* Icons */
  .icons a {
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }

body {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin: 0;
    padding: 20px;
    background-color: aliceblue;
    box-sizing: border-box;
    font-family: sans-serif;
}



















.info-row {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.info-label {
    width: 220px;
    color: #000;
    font-weight: normal;
    flex-shrink: 0;
}

.info-value a {
    color: #1a73e8;
    text-decoration: none;
}

.info-value a:hover {
    text-decoration: underline;
}

.info-value {
    flex: 1;
}

.button-group-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-group {
    display: flex;
    gap: 20px;
}


    

.buy {
    background-color: #0000003f;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    
}

.buy:hover {
    background-color: black;
}



.product-card-name {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 8px;
    margin-top: 120px;
}

.product-card-name p {
    font-size: 20px;
    font-weight: bold;
    color: #e53935;
    margin-bottom: 10px;
}

.product-card-content {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    align-items: right;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    
    
}
.info-label{
    font-size: 30px;
}
.info-row{
    font-size: 30px;
}
/* Footer  */
.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 120px;
}
.footer-column1 a{
    color: rgb(30, 47, 207);
}
.footer-column2 p{
    color: black;
    transition: ease;
    text-align: left;
}
.footer-column2 p:hover{
    color: rgb(69, 127, 235);
}
.footer-column3 p{
    color: black;
    transition: ease;
    text-align: left;
}
.footer-column3 p:hover{
    color: rgb(69, 127, 235);
}
.footer-column4 p{
    color: black;
    transition: ease;
    text-align: left;
}
.footer-column p:hover{
    color: rgb(69, 127, 235);
}